<div>Hello world!</div>

<!--
<nav class="navbar navbar-default" ng-controller="NavbarCtrl">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Brand</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="sidebar sidebar-left sidebar-animate col-md-3" ng-controller="SidebarCtrl">
      <ul class="nav navbar-stacked">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="main col-md-9">
    </div>
  </div>
</nav>
-->
